<!DOCTYPE html>
<html>
<head>
	<title>Great Number</title>
</head>
<body>
	<h1>Welcome to the Great Number Game!</h1>
	<p>I am thinking of a number between 1 and 10</p><br>
	<p>Take a guess!</p>
	<form action="/process" method="post">
		<input type="text" name="number"><br>
		<button value="submit">Submit</button>
	</form>
</body>
</html>