<!DOCTYPE html>
<html>
<head>
	<title>Message Board</title>
</head>
<body>
	 <h1>The Dojo Message Board</h1>
	 <form action="/posts" method="post">
	 	<table>
	 		<tr>
	 			<td>Name:</td>
	 		</tr>
	 		<tr>
	 			<td><input type="text" name="name" id="name"></td>
	 		</tr>
	 		<tr>
	 			<td>Message:</td>
	 		</tr>
	 		<tr>
	 			<td><textarea name="message" id="text" cols="30" rows="10"></textarea></td>
	 		</tr>
	 		<tr><td><button>Post Message</button></td></tr>
	 	</table>

	 </form>
	 
	

</body>
</html>