<!DOCTYPE html>
<html>
<head>
	<title>Counter</title>
</head>
<body>
	<h1>Counter</h1>
	<p>
		Count: <%=count%>
	</p>
	<a href="/two">Add 2 count</a><br>
	<a href="/reset">Reset count</a>

</body>
</html>