<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
</head>
<body>
	<div>
		<h1>Here are the tasks</h1>
		<p></p>
	</div>
	<div>
		<form action="/process" method="POST">
			Title: <input type="text" name="title"><br>
			Desc: <input type="text" name="descriptioni"><br>
			<!-- Completed: <input type="checkbox" name="completion" value="true"> -->
			<button type="Submit" value="Submit">Add Task</button>

		</form>
	</div>

</body>
</html>